
# API Configuration
VITE_API_URL=http://localhost:3000/api

# Supabase Realtime (for notifications)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_NOTIFICATION_REALTIME_SCHEMA=public
VITE_NOTIFICATION_REALTIME_TABLE=Notification
VITE_NOTIFICATION_REALTIME_USER_COLUMN=userId

# App Configuration
VITE_APP_TITLE= WorkLink
VITE_ENABLE_MOCK= true
